<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532421842471-l3vk94ng2qkulumhjksv2u0e3eajm5t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532421842471-l3vk94ng2qkulumhjksv2u0e3eajm5t3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>532421842471-c3co7qejv8l9682iotgjddeqbhi95qme.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4e7Hk-OlDNCl90Ueu1freGB-dVoNHg44</string>
	<key>GCM_SENDER_ID</key>
	<string>532421842471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.c2c-platform.hairlie.customer.dev1</string>
	<key>PROJECT_ID</key>
	<string>hairlie-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hairlie-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532421842471:ios:f5728b06a5386c621aa002</string>
</dict>
</plist>